# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [23]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *
from create_tables import *
import json

In [50]:
def connect_db():
    conn = psycopg2.connect(dsn = "postgresql://hmmk99:e45u1bUqazGrsuEGMa6NesSIXKNLputv@dpg-csbqo023esus73fvq8b0-a.oregon-postgres.render.com/sparkifydb" \
                            ,password="e45u1bUqazGrsuEGMa6NesSIXKNLputv")
    cur = conn.cursor()
    return conn, cur

def restart_db(cur, conn):
    try:
        cur.close()
        conn.close()
    except Exception as e:
        print('no connections')
    conn, cur = connect_db()
    return cur, conn

In [24]:


conn, cur= connect_db()

In [25]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [26]:
song_files = "D:\\Users\\hatem.kamal\\Desktop\\DE udacity\\Test\\project-template (1)\\data\\song_data"

In [27]:
filepath_song = get_files(song_files)

In [28]:
for file in filepath_song:
    try:
        df1 = pd.read_json(file, lines=True)
        df_song = pd.concat([df_song, df1], ignore_index=True, sort=False)
    except Exception as e:
        df_song = pd.read_json(file, lines=True)
print(df_song.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   num_songs         142 non-null    int64
 1   artist_id         142 non-null    object
 2   artist_latitude   62 non-null     float64
 3   artist_longitude  62 non-null     float64
 4   artist_location   142 non-null    object
 5   artist_name       142 non-null    object
 6   song_id           142 non-null    object
 7   title             142 non-null    object
 8   duration          142 non-null    float64
 9   year              142 non-null    int64
dtypes: float64(3), int64(2), object(5)
memory usage: 11.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16112 entries, 0 to 16111
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artist         13640 non-null  object
 1   auth           16112 non-null  object
 2   firstName      15540 non-null  object
 3   gender         15540 non-null  object
 4   itemInSession  16112 non-null  int64
 5   lastName       15540 non-null  object
 6   length         13640 non-null  float64
 7   level          16112 non-null  object
 8   location       15540 non-null  object
 9   method         16112 non-null  object
 10  page           16112 non-null  object
 11  registration   15540 non-null  float64
 12  sessionId      16112 non-null  int64
 13  song           13640 non-null  object
 14  status         16112 non-null  int64
 15  ts             16112 non-null  int64
 16  userAgent      15540 non-null  object
 17  userId         15830 non-null  object
dtypes: float64(2), int64(4), object(12)
memory usage: 2.2+ MB
None

In [29]:
df_song.head()

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARD7TVE1187B99BFB1,NaN,NaN,California - LA,Casual,SOMZWCG12A8C13C480,I Didn''t Mean To,218.93179,0
1,1,ARMJAGH1187FB546F3,35.14968,-90.04892,"Memphis, TN",The Box Tops,SOCIWDW12A8C13D406,Soul Deep,148.03546,1969
2,1,ARKRRTF1187B9984DA,NaN,NaN,,Sonora Santanera,SOXVLOJ12AB0189215,Amor De Cabaret,177.47546,0
3,1,AR7G5I41187FB4CE6C,NaN,NaN,"London, England",Adam Ant,SONHOTT12A8C13493C,Something Girls,233.40363,1982
4,1,ARXR32B1187FB57099,NaN,NaN,,Gob,SOFSOCN12A8C143F5D,Face the Ashes,209.60608,2007

### PreProcessing

In [31]:
for col in df_song.select_dtypes(include='object').columns:
    df_song[col] = df_song[col].str.replace("'", "''")

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [32]:
song_data = list(f"('{x[0]}', '{x[1]}', '{x[2]}', '{x[3]}', '{x[4]}');" for x in df_song[['song_id', 'title', 'artist_id', 'year', 'duration']].values)
song_data

["('SOMZWCG12A8C13C480', 'I Didn''''t Mean To', 'ARD7TVE1187B99BFB1', '0', '218.93179');",
 "('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', '1969', '148.03546');",
 "('SOXVLOJ12AB0189215', 'Amor De Cabaret', 'ARKRRTF1187B9984DA', '0', '177.47546');",
 "('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', '1982', '233.40363');",
 "('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', '2007', '209.60608');",
 "('SOYMRWW12A6D4FAB14', 'The Moon And I (Ordinary Day Album Version)', 'ARKFYS91187B98E58F', '0', '267.7024');",
 "('SOMJBYD12A6D4F8557', 'Keepin It Real (Skit)', 'ARD0S291187B9B7BF5', '0', '114.78159');",
 "('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', '0', '189.57016');",
 "('SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', '1984', '269.81832');",
 "('SOUDSGM12AC9618304', 'Insatiable (Instrumental Version)', 'ARNTLGG11E2835DDB9', '0', '266.39628');",
 "('SOQHXMF12AB0182363', 'Young Boy Blues', 'ARGSJW91187B9B1D6B', '0', '218.77506');",
 "('SOKEJEJ12A8C13E0D0', 'The Urgency (LP Version)', 'ARC43071187B990240', '0', '245.21098');",
 "('SOMUYGI12AB0188633', 'La Culpa', 'ARL7K851187B99ACD2', '0', '226.35057');",
 "('SORAMLE12AB017C8B0', 'Auguri Cha Cha', 'ARHHO3O1187B989413', '0', '191.84281');",
 "('SOBONFF12A6D4F84D8', 'Tonight Will Be Alright', 'ARIK43K1187B9AE54C', '1986', '307.3824');",
 "('SOHUOAP12A8AE488E9', 'Floating', 'ARD842G1187B997376', '1987', '491.12771');",
 "('SOUQQEA12A8C134B1B', 'High Tide', 'ARIG6O41187B988BDD', '0', '228.5971');",
 "('SOILPQQ12AB017E82A', 'Sohna Nee Sohna Data', 'AR1ZHYZ1187FB3C717', '0', '599.24853');",
 "('SOXLBJT12A8C140925', 'Caught In A Dream', 'ARYKCQI1187FB3B18F', '2004', '290.29832');",
 "('SOZVMJI12AB01808AF', 'Synthetic Dream', 'ARNPAGP1241B9C7FD4', '0', '165.69424');",
 "('SOWTBJW12AC468AC6E', 'Broken-Down Merry-Go-Round', 'ARQGYP71187FB44566', '0', '151.84934');",
 "('SOBEBDG12A58A76D60', 'Kassie Jones', 'ARI3BMM1187FB4255E', '0', '220.78649');",
 "('SOZCTXZ12AB0182364', 'Setanta matins', 'AR5KOSW1187FB35FF4', '0', '269.58322');",
 "('SOBBUGU12A8C13E95D', 'Setting Fire to Sleeping Giants', 'ARMAC4T1187FB3FA4C', '2004', '207.77751');",
 "('SOBLGCN12AB0183212', 'James (Hold The Ladder Steady)', 'AR47JEX1187B995D81', '1985', '124.86485');",
 "('SOPSWQW12A6D4F8781', 'Made Like This (Live)', 'ARGIWFO1187B9B55B7', '0', '225.09669');",
 "('SOZQDIU12A58A7BCF6', 'Superconfidential', 'ARNTLGG11E2835DDB9', '0', '338.31138');",
 "('SONYPOM12A8C13B2D7', 'I Think My Wife Is Running Around On Me (Taco Hell)', 'ARDNS031187B9924F0', '2005', '186.48771');",
 "('SOBZBAZ12A6D4F8742', 'Spanish Grease', 'AROUOZZ1187B9ABE51', '1997', '168.25424');",
 "('SOVYKGO12AB0187199', 'Crazy Mixed Up World', 'ARH4Z031187B9A71F2', '1961', '156.39465');",
 "('SOGNCJP12A58A80271', 'Do You Finally Need A Friend', 'ARB29H41187B98F0EF', '1972', '342.56934');",
 "('SOLLHMX12AB01846DC', 'The Emperor Falls', 'AR1Y2PT1187FB5B9CE', '0', '484.62322');",
 "('SOYTPEP12AB0180E7B', 'Twist and Shout', 'ARAJPHH1187FB5566A', '1964', '164.80608');",
 "('SOGXHEG12AB018653E', 'It Makes No Difference Now', 'AR0RCMP1187FB3F427', '1992', '133.32853');",
 "('SOOLYAZ12A6701F4A6', 'Laws Patrolling (Album Version)', 'AREBBGV1187FB523D2', '0', '173.66159');",
 "('SOGOSOV12AF72A285E', '¿Dónde va Chichi?', 'ARGUVEV1187B98BA17', '1997', '313.12934');",
 "('SOQLGFP12A58A7800E', 'OAKtown', 'ARD7TVE1187B99BFB1', '0', '259.44771');",
 "('SOPVXLX12A8C1402D5', 'Larger Than Life', 'AR3JMC51187B9AE49D', '1999', '236.25098');",
 "('SOAOIBZ12AB01815BE', 'I Hold Your Hand In Mine [Live At Royal Albert Hall]', 'ARPBNLO1187FB3D52F', '2000', '43.36281');",
 "('SOZHPGD12A8C1394FE', 'Baby Come To Me', 'AR9AWNF1187B9AB0B4', '0', '236.93016');",
 "('SOSLAVG12A8C13397F', 'Den Pai Alo', 'AROGWRA122988FEE45', '0', '243.82649');",
 "('SOTTDKS12AB018D69B', 'It Wont Be Christmas', 'ARMBR4Y1187B9990EB', '0', '241.47546');",
 "('SOMVWWT12A58A7AE05', 'Knocked Out Of The Park', 'ARQ9BO41187FB5CF1F', '0', '183.17016');",
 "('SOQVMXR12A81C21483', 'Salt In NYC', 'ARKULSX1187FB45F84', '0', '424.12363');",
 "('SODUJBS12A8C132150', 'Wessex Loses a Bride', 'ARI2JSK1187FB496EF', '0', '111.62077');",
 "('SOBBXLX12A58A79DDA', 'Erica (2005 Digital Remaster)', 'AREDBBQ1187B98AFF5', '0', '138.63138');",
 "('SOTUKVB12AB0181477', 'Blessed Assurance', 'AR7ZKHQ1187B98DD73', '1993', '270.602');",
 "('SOOJPRH12A8C141995', 'Loaded Like A Gun', 'ARBGXIG122988F409D', '0', '173.19138');",
 "('SOBCOSW12A8C13D398', 'Rumba De Barcelona', 'AR7SMBG1187B9B9066', '0', '218.38322');",
 "('SOQOTLQ12AB01868D0', 'Clementina Santafè', 'ARGCY1Y1187B9A4FA5', '0', '153.33832');",
 "('SOBKWDJ12A8C13B2F3', 'Wild Rose (Back 2 Basics Mix)', 'AR36F9J1187FB406F1', '0', '230.71302');",
 "('SOFNOQK12AB01840FC', 'Kutt Free (DJ Volume Remix)', 'ARNNKDK1187B98BBD5', '0', '407.37914');",
 "('SOGVQGJ12AB017F169', 'Ten Tonne', 'AR62SOJ1187FB47BB5', '2005', '337.68444');",
 "('SOFFKZS12AB017F194', 'A Higher Place (Album Version)', 'ARBEBBY1187B9B43DB', '1994', '236.17261');",
 "('SOBAYLL12A8C138AF9', 'Sono andati? Fingevo di dormire', 'ARDR4AC1187FB371A1', '0', '511.16363');",
 "('SOLEYHO12AB0188A85', 'Got My Mojo Workin', 'ARAGB2O1187FB3A161', '0', '338.23302');",
 "('SOPEGZN12AB0181B3D', 'Get Your Head Stuck On Your Neck', 'AREDL271187FB40F44', '0', '45.66159');",
 "('SOXILUQ12A58A7C72A', 'Jenny Take a Ride', 'ARP6N5A1187B99D1A3', '2004', '207.43791');",
 "('SOTCKKY12AB018A141', 'Sonnerie lalaleulé hi houuu', 'ARGSAFR1269FB35070', '0', '29.54404');",
 "('SOSWKAV12AB018FC91', 'Midnight Star', 'ARULZCI1241B9C8611', '0', '335.51628');",
 "('SONSKXP12A8C13A2C9', 'Native Soul', 'AR0IAWL1187B9A96D0', '2003', '197.19791');",
 "('SOUPIRU12A6D4FA1E1', 'Der Kleine Dompfaff', 'ARJIE2Y1187B994AB7', '0', '152.92036');",
 "('SODREIN12A58A7F2E5', 'A Whiter Shade Of Pale (Live @ Fillmore West)', 'ARLTWXK1187FB5A3F8', '0', '326.00771');",
 "('SONWXQJ12A8C134D94', 'The Ballad Of Sleeping Beauty', 'ARNF6401187FB57032', '1994', '305.162');",
 "('SOWQTQZ12A58A7B63E', 'Streets On Fire (Explicit Album Version)', 'ARPFHN61187FB575F6', '0', '279.97995');",
 "('SOLYIBD12A8C135045', 'Music is what we love', 'AR051KA1187B98B2FF', '0', '261.51138');",
 "('SOINLJW12A8C13314C', 'City Slickers', 'AR8IEZO1187B99055E', '2008', '149.86404');",
 "('SOGDBUF12A8C140FAA', 'Intro', 'AR558FS1187FB45658', '2003', '75.67628');",
 "('SORRZGD12A6310DBC3', 'Harajuku Girls', 'ARVBRGZ1187FB4675A', '2004', '290.55955');",
 "('SODAUVL12A8C13D184', 'Prognosis', 'ARWB3G61187FB49404', '2000', '363.85914');",
 "('SOFCHDR12AB01866EF', 'Living Hell', 'AREVWGE1187B9B890A', '0', '282.43546');",
 "('SOMZWCG12A8C13C480', 'I Didn''t Mean To', 'ARD7TVE1187B99BFB1', '0', '218.93179');",
 "('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', '1969', '148.03546');",
 "('SOXVLOJ12AB0189215', 'Amor De Cabaret', 'ARKRRTF1187B9984DA', '0', '177.47546');",
 "('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', '1982', '233.40363');",
 "('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', '2007', '209.60608');",
 "('SOYMRWW12A6D4FAB14', 'The Moon And I (Ordinary Day Album Version)', 'ARKFYS91187B98E58F', '0', '267.7024');",
 "('SOMJBYD12A6D4F8557', 'Keepin It Real (Skit)', 'ARD0S291187B9B7BF5', '0', '114.78159');",
 "('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', '0', '189.57016');",
 "('SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', '1984', '269.81832');",
 "('SOUDSGM12AC9618304', 'Insatiable (Instrumental Version)', 'ARNTLGG11E2835DDB9', '0', '266.39628');",
 "('SOQHXMF12AB0182363', 'Young Boy Blues', 'ARGSJW91187B9B1D6B', '0', '218.77506');",
 "('SOKEJEJ12A8C13E0D0', 'The Urgency (LP Version)', 'ARC43071187B990240', '0', '245.21098');",
 "('SOMUYGI12AB0188633', 'La Culpa', 'ARL7K851187B99ACD2', '0', '226.35057');",
 "('SORAMLE12AB017C8B0', 'Auguri Cha Cha', 'ARHHO3O1187B989413', '0', '191.84281');",
 "('SOBONFF12A6D4F84D8', 'Tonight Will Be Alright', 'ARIK43K1187B9AE54C', '1986', '307.3824');",
 "('SOHUOAP12A8AE488E9', 'Floating', 'ARD842G1187B997376', '1987', '491.12771');",
 "('SOUQQEA12A8C134B1B', 'High Tide', 'ARIG6O41187B988BDD', '0', '228.5971');",
 "('SOILPQQ12AB017E82A', 'Sohna Nee Sohna Data', 'AR1ZHYZ1187FB3C717', '0', '599.24853');",
 "('SOXLBJT12A8C140925', 'Caught In A Dream', 'ARYKCQI1187FB3B18F', '2004', '290.29832');",
 "('SOZVMJI12AB01808AF', 'Synthetic Dream', 'ARNPAGP1241B9C7FD4', '0', '165.69424');",
 "('SOWTBJW12AC468AC6E', 'Broken-Down Merry-Go-Round', 'ARQGYP71187FB44566', '0', '151.84934');",
 "('SOBEBDG12A58A76D60', 'Kassie Jones', 'ARI3BMM1187FB4255E', '0', '220.78649');",
 "('SOZCTXZ12AB0182364', 'Setanta matins', 'AR5KOSW1187FB35FF4', '0', '269.58322');",
 "('SOBBUGU12A8C13E95D', 'Setting Fire to Sleeping Giants', 'ARMAC4T1187FB3FA4C', '2004', '207.77751');",
 "('SOBLGCN12AB0183212', 'James (Hold The Ladder Steady)', 'AR47JEX1187B995D81', '1985', '124.86485');",
 "('SOPSWQW12A6D4F8781', 'Made Like This (Live)', 'ARGIWFO1187B9B55B7', '0', '225.09669');",
 "('SOZQDIU12A58A7BCF6', 'Superconfidential', 'ARNTLGG11E2835DDB9', '0', '338.31138');",
 "('SONYPOM12A8C13B2D7', 'I Think My Wife Is Running Around On Me (Taco Hell)', 'ARDNS031187B9924F0', '2005', '186.48771');",
 "('SOBZBAZ12A6D4F8742', 'Spanish Grease', 'AROUOZZ1187B9ABE51', '1997', '168.25424');",
 "('SOVYKGO12AB0187199', 'Crazy Mixed Up World', 'ARH4Z031187B9A71F2', '1961', '156.39465');",
 "('SOGNCJP12A58A80271', 'Do You Finally Need A Friend', 'ARB29H41187B98F0EF', '1972', '342.56934');",
 "('SOLLHMX12AB01846DC', 'The Emperor Falls', 'AR1Y2PT1187FB5B9CE', '0', '484.62322');",
 "('SOYTPEP12AB0180E7B', 'Twist and Shout', 'ARAJPHH1187FB5566A', '1964', '164.80608');",
 "('SOGXHEG12AB018653E', 'It Makes No Difference Now', 'AR0RCMP1187FB3F427', '1992', '133.32853');",
 "('SOOLYAZ12A6701F4A6', 'Laws Patrolling (Album Version)', 'AREBBGV1187FB523D2', '0', '173.66159');",
 "('SOGOSOV12AF72A285E', '¿Dónde va Chichi?', 'ARGUVEV1187B98BA17', '1997', '313.12934');",
 "('SOQLGFP12A58A7800E', 'OAKtown', 'ARD7TVE1187B99BFB1', '0', '259.44771');",
 "('SOPVXLX12A8C1402D5', 'Larger Than Life', 'AR3JMC51187B9AE49D', '1999', '236.25098');",
 "('SOAOIBZ12AB01815BE', 'I Hold Your Hand In Mine [Live At Royal Albert Hall]', 'ARPBNLO1187FB3D52F', '2000', '43.36281');",
 "('SOZHPGD12A8C1394FE', 'Baby Come To Me', 'AR9AWNF1187B9AB0B4', '0', '236.93016');",
 "('SOSLAVG12A8C13397F', 'Den Pai Alo', 'AROGWRA122988FEE45', '0', '243.82649');",
 "('SOTTDKS12AB018D69B', 'It Wont Be Christmas', 'ARMBR4Y1187B9990EB', '0', '241.47546');",
 "('SOMVWWT12A58A7AE05', 'Knocked Out Of The Park', 'ARQ9BO41187FB5CF1F', '0', '183.17016');",
 "('SOQVMXR12A81C21483', 'Salt In NYC', 'ARKULSX1187FB45F84', '0', '424.12363');",
 "('SODUJBS12A8C132150', 'Wessex Loses a Bride', 'ARI2JSK1187FB496EF', '0', '111.62077');",
 "('SOBBXLX12A58A79DDA', 'Erica (2005 Digital Remaster)', 'AREDBBQ1187B98AFF5', '0', '138.63138');",
 "('SOTUKVB12AB0181477', 'Blessed Assurance', 'AR7ZKHQ1187B98DD73', '1993', '270.602');",
 "('SOOJPRH12A8C141995', 'Loaded Like A Gun', 'ARBGXIG122988F409D', '0', '173.19138');",
 "('SOBCOSW12A8C13D398', 'Rumba De Barcelona', 'AR7SMBG1187B9B9066', '0', '218.38322');",
 "('SOQOTLQ12AB01868D0', 'Clementina Santafè', 'ARGCY1Y1187B9A4FA5', '0', '153.33832');",
 "('SOBKWDJ12A8C13B2F3', 'Wild Rose (Back 2 Basics Mix)', 'AR36F9J1187FB406F1', '0', '230.71302');",
 "('SOFNOQK12AB01840FC', 'Kutt Free (DJ Volume Remix)', 'ARNNKDK1187B98BBD5', '0', '407.37914');",
 "('SOGVQGJ12AB017F169', 'Ten Tonne', 'AR62SOJ1187FB47BB5', '2005', '337.68444');",
 "('SOFFKZS12AB017F194', 'A Higher Place (Album Version)', 'ARBEBBY1187B9B43DB', '1994', '236.17261');",
 "('SOBAYLL12A8C138AF9', 'Sono andati? Fingevo di dormire', 'ARDR4AC1187FB371A1', '0', '511.16363');",
 "('SOLEYHO12AB0188A85', 'Got My Mojo Workin', 'ARAGB2O1187FB3A161', '0', '338.23302');",
 "('SOPEGZN12AB0181B3D', 'Get Your Head Stuck On Your Neck', 'AREDL271187FB40F44', '0', '45.66159');",
 "('SOXILUQ12A58A7C72A', 'Jenny Take a Ride', 'ARP6N5A1187B99D1A3', '2004', '207.43791');",
 "('SOTCKKY12AB018A141', 'Sonnerie lalaleulé hi houuu', 'ARGSAFR1269FB35070', '0', '29.54404');",
 "('SOSWKAV12AB018FC91', 'Midnight Star', 'ARULZCI1241B9C8611', '0', '335.51628');",
 "('SONSKXP12A8C13A2C9', 'Native Soul', 'AR0IAWL1187B9A96D0', '2003', '197.19791');",
 "('SOUPIRU12A6D4FA1E1', 'Der Kleine Dompfaff', 'ARJIE2Y1187B994AB7', '0', '152.92036');",
 "('SODREIN12A58A7F2E5', 'A Whiter Shade Of Pale (Live @ Fillmore West)', 'ARLTWXK1187FB5A3F8', '0', '326.00771');",
 "('SONWXQJ12A8C134D94', 'The Ballad Of Sleeping Beauty', 'ARNF6401187FB57032', '1994', '305.162');",
 "('SOWQTQZ12A58A7B63E', 'Streets On Fire (Explicit Album Version)', 'ARPFHN61187FB575F6', '0', '279.97995');",
 "('SOLYIBD12A8C135045', 'Music is what we love', 'AR051KA1187B98B2FF', '0', '261.51138');",
 "('SOINLJW12A8C13314C', 'City Slickers', 'AR8IEZO1187B99055E', '2008', '149.86404');",
 "('SOGDBUF12A8C140FAA', 'Intro', 'AR558FS1187FB45658', '2003', '75.67628');",
 "('SORRZGD12A6310DBC3', 'Harajuku Girls', 'ARVBRGZ1187FB4675A', '2004', '290.55955');",
 "('SODAUVL12A8C13D184', 'Prognosis', 'ARWB3G61187FB49404', '2000', '363.85914');",
 "('SOFCHDR12AB01866EF', 'Living Hell', 'AREVWGE1187B9B890A', '0', '282.43546');"]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [33]:
x = 0
for data in song_data:
    # print(song_table_insert + data)
    print(x)
    cur.execute(song_table_insert + data)
    x += 1
    conn.commit()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141

In [36]:
cur.execute('select * from song')
cur.fetchone()

('SOMZWCG12A8C13C480',
 "I Didn''t Mean To",
 'ARD7TVE1187B99BFB1',
 0,
 Decimal('218.93179'))

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [39]:
df_song.columns

Index(['num_songs', 'artist_id', 'artist_latitude', 'artist_longitude',
       'artist_location', 'artist_name', 'song_id', 'title', 'duration',
       'year'],
      dtype='object')

In [40]:
artist_data = list(f"('{x[0]}', '{x[1]}', '{x[2]}', '{x[3]}', '{x[4]}');" for x in df_song[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values)
artist_data

["('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', 'nan', 'nan');",
 "('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', '35.14968', '-90.04892');",
 "('ARKRRTF1187B9984DA', 'Sonora Santanera', '', 'nan', 'nan');",
 "('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', 'nan', 'nan');",
 "('ARXR32B1187FB57099', 'Gob', '', 'nan', 'nan');",
 "('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', 'nan', 'nan');",
 "('ARD0S291187B9B7BF5', 'Rated R', 'Ohio', 'nan', 'nan');",
 "('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', 'nan', 'nan');",
 "('AR8ZCNI1187B9A069B', 'Planet P Project', '', 'nan', 'nan');",
 "('ARNTLGG11E2835DDB9', 'Clp', '', 'nan', 'nan');",
 "('ARGSJW91187B9B1D6B', 'JennyAnyKind', 'North Carolina', '35.21962', '-80.01955');",
 "('ARC43071187B990240', 'Wayne Watson', 'Wisner, LA', 'nan', 'nan');",
 "('ARL7K851187B99ACD2', 'Andy Andy', '', 'nan', 'nan');",
 "('ARHHO3O1187B989413', 'Bob Azzam', '', 'nan', 'nan');",
 "('ARIK43K1187B9AE54C', 'Lionel Richie', 'Beverly Hills, CA', 'nan', 'nan');",
 "('ARD842G1187B997376', 'Blue Rodeo', 'Toronto, Ontario, Canada', '43.64856', '-79.38533');",
 "('ARIG6O41187B988BDD', 'Richard Souther', 'United States', '37.16793', '-95.84502');",
 "('AR1ZHYZ1187FB3C717', 'Faiz Ali Faiz', '', 'nan', 'nan');",
 "('ARYKCQI1187FB3B18F', 'Tesla', '', 'nan', 'nan');",
 "('ARNPAGP1241B9C7FD4', 'lextrical', '', 'nan', 'nan');",
 "('ARQGYP71187FB44566', 'Jimmy Wakely', 'Mineola, AR', '34.31109', '-94.02978');",
 "('ARI3BMM1187FB4255E', 'Alice Stuart', 'Washington', '38.8991', '-77.029');",
 "('AR5KOSW1187FB35FF4', 'Elena', 'Dubai UAE', '49.80388', '15.47491');",
 "('ARMAC4T1187FB3FA4C', 'The Dillinger Escape Plan', 'Morris Plains, NJ', '40.82624', '-74.47995');",
 "('AR47JEX1187B995D81', 'SUE THOMPSON', 'Nevada, MO', '37.83721', '-94.35868');",
 "('ARGIWFO1187B9B55B7', 'Five Bolt Main', '', 'nan', 'nan');",
 "('ARNTLGG11E2835DDB9', 'Clp', '', 'nan', 'nan');",
 "('ARDNS031187B9924F0', 'Tim Wilson', 'Georgia', '32.67828', '-83.22295');",
 "('AROUOZZ1187B9ABE51', 'Willie Bobo', 'New York, NY [Spanish Harlem]', '40.79195', '-73.94512');",
 "('ARH4Z031187B9A71F2', 'Faye Adams', 'Newark, NJ', '40.73197', '-74.17418');",
 "('ARB29H41187B98F0EF', 'Terry Callier', 'Chicago', '41.88415', '-87.63241');",
 "('AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', '27.94017', '-82.32547');",
 "('ARAJPHH1187FB5566A', 'The Shangri-Las', 'Queens, NY', '40.7038', '-73.83168');",
 "('AR0RCMP1187FB3F427', 'Billie Jo Spears', 'Beaumont, TX', '30.08615', '-94.10158');",
 "('AREBBGV1187FB523D2', 'Mike Jones (Featuring CJ_ Mello & Lil'''' Bran)', 'Houston, TX', 'nan', 'nan');",
 "('ARGUVEV1187B98BA17', 'Sierra Maestra', '', 'nan', 'nan');",
 "('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', 'nan', 'nan');",
 "('AR3JMC51187B9AE49D', 'Backstreet Boys', 'Orlando, FL', '28.53823', '-81.37739');",
 "('ARPBNLO1187FB3D52F', 'Tiny Tim', 'New York, NY', '40.71455', '-74.00712');",
 "('AR9AWNF1187B9AB0B4', 'Kenny G featuring Daryl Hall', 'Seattle, Washington USA', 'nan', 'nan');",
 "('AROGWRA122988FEE45', 'Christos Dantis', '', 'nan', 'nan');",
 "('ARMBR4Y1187B9990EB', 'David Martin', 'California - SF', '37.77916', '-122.42005');",
 "('ARQ9BO41187FB5CF1F', 'John Davis', 'Pennsylvania', '40.99471', '-77.60454');",
 "('ARKULSX1187FB45F84', 'Trafik', 'Utah', '39.49974', '-111.54732');",
 "('ARI2JSK1187FB496EF', 'Nick Ingman;Gavyn Wright', 'London, England', '51.50632', '-0.12714');",
 "('AREDBBQ1187B98AFF5', 'Eddie Calvert', '', 'nan', 'nan');",
 "('AR7ZKHQ1187B98DD73', 'Glad', '', 'nan', 'nan');",
 "('ARBGXIG122988F409D', 'Steel Rain', 'California - SF', '37.77916', '-122.42005');",
 "('AR7SMBG1187B9B9066', 'Los Manolos', '', 'nan', 'nan');",
 "('ARGCY1Y1187B9A4FA5', 'Gloriana', 'Nashville, TN.', '36.16778', '-86.77836');",
 "('AR36F9J1187FB406F1', 'Bombay Rockers', 'Denmark', '56.27609', '9.51695');",
 "('ARNNKDK1187B98BBD5', 'Jinx', 'Zagreb Croatia', '45.80726', '15.967600000000001');",
 "('AR62SOJ1187FB47BB5', 'Chase & Status', '', 'nan', 'nan');",
 "('ARBEBBY1187B9B43DB', 'Tom Petty', 'Gainesville, FL', 'nan', 'nan');",
 "('ARDR4AC1187FB371A1', 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', '', 'nan', 'nan');",
 "('ARAGB2O1187FB3A161', 'Pucho & His Latin Soul Brothers', '', 'nan', 'nan');",
 "('AREDL271187FB40F44', 'Soul Mekanik', '', 'nan', 'nan');",
 "('ARP6N5A1187B99D1A3', 'Mitch Ryder', 'Hamtramck, MI', 'nan', 'nan');",
 "('ARGSAFR1269FB35070', 'Blingtones', '', 'nan', 'nan');",
 "('ARULZCI1241B9C8611', 'Luna Orbit Project', '', 'nan', 'nan');",
 "('AR0IAWL1187B9A96D0', 'Danilo Perez', 'Panama', '8.4177', '-80.11278');",
 "('ARJIE2Y1187B994AB7', 'Line Renaud', '', 'nan', 'nan');",
 "('ARLTWXK1187FB5A3F8', 'King Curtis', 'Fort Worth, TX', '32.74863', '-97.32925');",
 "('ARNF6401187FB57032', 'Sophie B. Hawkins', 'New York, NY [Manhattan]', '40.79086', '-73.96644');",
 "('ARPFHN61187FB575F6', 'Lupe Fiasco', 'Chicago, IL', '41.88415', '-87.63241');",
 "('AR051KA1187B98B2FF', 'Wilks', '', 'nan', 'nan');",
 "('AR8IEZO1187B99055E', 'Marc Shaiman', '', 'nan', 'nan');",
 "('AR558FS1187FB45658', '40 Grit', '', 'nan', 'nan');",
 "('ARVBRGZ1187FB4675A', 'Gwen Stefani', '', 'nan', 'nan');",
 "('ARWB3G61187FB49404', 'Steve Morse', 'Hamilton, Ohio', 'nan', 'nan');",
 "('AREVWGE1187B9B890A', 'Bitter End', 'Noci (BA)', '-13.442', '-41.9952');",
 "('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', 'nan', 'nan');",
 "('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', '35.14968', '-90.04892');",
 "('ARKRRTF1187B9984DA', 'Sonora Santanera', '', 'nan', 'nan');",
 "('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', 'nan', 'nan');",
 "('ARXR32B1187FB57099', 'Gob', '', 'nan', 'nan');",
 "('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', 'nan', 'nan');",
 "('ARD0S291187B9B7BF5', 'Rated R', 'Ohio', 'nan', 'nan');",
 "('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', 'nan', 'nan');",
 "('AR8ZCNI1187B9A069B', 'Planet P Project', '', 'nan', 'nan');",
 "('ARNTLGG11E2835DDB9', 'Clp', '', 'nan', 'nan');",
 "('ARGSJW91187B9B1D6B', 'JennyAnyKind', 'North Carolina', '35.21962', '-80.01955');",
 "('ARC43071187B990240', 'Wayne Watson', 'Wisner, LA', 'nan', 'nan');",
 "('ARL7K851187B99ACD2', 'Andy Andy', '', 'nan', 'nan');",
 "('ARHHO3O1187B989413', 'Bob Azzam', '', 'nan', 'nan');",
 "('ARIK43K1187B9AE54C', 'Lionel Richie', 'Beverly Hills, CA', 'nan', 'nan');",
 "('ARD842G1187B997376', 'Blue Rodeo', 'Toronto, Ontario, Canada', '43.64856', '-79.38533');",
 "('ARIG6O41187B988BDD', 'Richard Souther', 'United States', '37.16793', '-95.84502');",
 "('AR1ZHYZ1187FB3C717', 'Faiz Ali Faiz', '', 'nan', 'nan');",
 "('ARYKCQI1187FB3B18F', 'Tesla', '', 'nan', 'nan');",
 "('ARNPAGP1241B9C7FD4', 'lextrical', '', 'nan', 'nan');",
 "('ARQGYP71187FB44566', 'Jimmy Wakely', 'Mineola, AR', '34.31109', '-94.02978');",
 "('ARI3BMM1187FB4255E', 'Alice Stuart', 'Washington', '38.8991', '-77.029');",
 "('AR5KOSW1187FB35FF4', 'Elena', 'Dubai UAE', '49.80388', '15.47491');",
 "('ARMAC4T1187FB3FA4C', 'The Dillinger Escape Plan', 'Morris Plains, NJ', '40.82624', '-74.47995');",
 "('AR47JEX1187B995D81', 'SUE THOMPSON', 'Nevada, MO', '37.83721', '-94.35868');",
 "('ARGIWFO1187B9B55B7', 'Five Bolt Main', '', 'nan', 'nan');",
 "('ARNTLGG11E2835DDB9', 'Clp', '', 'nan', 'nan');",
 "('ARDNS031187B9924F0', 'Tim Wilson', 'Georgia', '32.67828', '-83.22295');",
 "('AROUOZZ1187B9ABE51', 'Willie Bobo', 'New York, NY [Spanish Harlem]', '40.79195', '-73.94512');",
 "('ARH4Z031187B9A71F2', 'Faye Adams', 'Newark, NJ', '40.73197', '-74.17418');",
 "('ARB29H41187B98F0EF', 'Terry Callier', 'Chicago', '41.88415', '-87.63241');",
 "('AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', '27.94017', '-82.32547');",
 "('ARAJPHH1187FB5566A', 'The Shangri-Las', 'Queens, NY', '40.7038', '-73.83168');",
 "('AR0RCMP1187FB3F427', 'Billie Jo Spears', 'Beaumont, TX', '30.08615', '-94.10158');",
 "('AREBBGV1187FB523D2', 'Mike Jones (Featuring CJ_ Mello & Lil'' Bran)', 'Houston, TX', 'nan', 'nan');",
 "('ARGUVEV1187B98BA17', 'Sierra Maestra', '', 'nan', 'nan');",
 "('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', 'nan', 'nan');",
 "('AR3JMC51187B9AE49D', 'Backstreet Boys', 'Orlando, FL', '28.53823', '-81.37739');",
 "('ARPBNLO1187FB3D52F', 'Tiny Tim', 'New York, NY', '40.71455', '-74.00712');",
 "('AR9AWNF1187B9AB0B4', 'Kenny G featuring Daryl Hall', 'Seattle, Washington USA', 'nan', 'nan');",
 "('AROGWRA122988FEE45', 'Christos Dantis', '', 'nan', 'nan');",
 "('ARMBR4Y1187B9990EB', 'David Martin', 'California - SF', '37.77916', '-122.42005');",
 "('ARQ9BO41187FB5CF1F', 'John Davis', 'Pennsylvania', '40.99471', '-77.60454');",
 "('ARKULSX1187FB45F84', 'Trafik', 'Utah', '39.49974', '-111.54732');",
 "('ARI2JSK1187FB496EF', 'Nick Ingman;Gavyn Wright', 'London, England', '51.50632', '-0.12714');",
 "('AREDBBQ1187B98AFF5', 'Eddie Calvert', '', 'nan', 'nan');",
 "('AR7ZKHQ1187B98DD73', 'Glad', '', 'nan', 'nan');",
 "('ARBGXIG122988F409D', 'Steel Rain', 'California - SF', '37.77916', '-122.42005');",
 "('AR7SMBG1187B9B9066', 'Los Manolos', '', 'nan', 'nan');",
 "('ARGCY1Y1187B9A4FA5', 'Gloriana', 'Nashville, TN.', '36.16778', '-86.77836');",
 "('AR36F9J1187FB406F1', 'Bombay Rockers', 'Denmark', '56.27609', '9.51695');",
 "('ARNNKDK1187B98BBD5', 'Jinx', 'Zagreb Croatia', '45.80726', '15.967600000000001');",
 "('AR62SOJ1187FB47BB5', 'Chase & Status', '', 'nan', 'nan');",
 "('ARBEBBY1187B9B43DB', 'Tom Petty', 'Gainesville, FL', 'nan', 'nan');",
 "('ARDR4AC1187FB371A1', 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', '', 'nan', 'nan');",
 "('ARAGB2O1187FB3A161', 'Pucho & His Latin Soul Brothers', '', 'nan', 'nan');",
 "('AREDL271187FB40F44', 'Soul Mekanik', '', 'nan', 'nan');",
 "('ARP6N5A1187B99D1A3', 'Mitch Ryder', 'Hamtramck, MI', 'nan', 'nan');",
 "('ARGSAFR1269FB35070', 'Blingtones', '', 'nan', 'nan');",
 "('ARULZCI1241B9C8611', 'Luna Orbit Project', '', 'nan', 'nan');",
 "('AR0IAWL1187B9A96D0', 'Danilo Perez', 'Panama', '8.4177', '-80.11278');",
 "('ARJIE2Y1187B994AB7', 'Line Renaud', '', 'nan', 'nan');",
 "('ARLTWXK1187FB5A3F8', 'King Curtis', 'Fort Worth, TX', '32.74863', '-97.32925');",
 "('ARNF6401187FB57032', 'Sophie B. Hawkins', 'New York, NY [Manhattan]', '40.79086', '-73.96644');",
 "('ARPFHN61187FB575F6', 'Lupe Fiasco', 'Chicago, IL', '41.88415', '-87.63241');",
 "('AR051KA1187B98B2FF', 'Wilks', '', 'nan', 'nan');",
 "('AR8IEZO1187B99055E', 'Marc Shaiman', '', 'nan', 'nan');",
 "('AR558FS1187FB45658', '40 Grit', '', 'nan', 'nan');",
 "('ARVBRGZ1187FB4675A', 'Gwen Stefani', '', 'nan', 'nan');",
 "('ARWB3G61187FB49404', 'Steve Morse', 'Hamilton, Ohio', 'nan', 'nan');",
 "('AREVWGE1187B9B890A', 'Bitter End', 'Noci (BA)', '-13.442', '-41.9952');"]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [51]:
cur, conn = restart_db(cur, conn)

In [52]:
for data in artist_data:
    cur.execute(artist_table_insert + data)
    conn.commit()

In [43]:
cur.close()
cur = conn.cursor()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [ ]:
log_files = "D:\\Users\\hatem.kamal\\Desktop\\DE udacity\\Test\\project-template (1)\\data\\log_data"

In [ ]:
filepath_log = get_files(log_files)

In [53]:
for file in filepath_log:
    try:
        df1 = pd.read_json(file, lines=True)
        df_log = pd.concat([df_log, df1], ignore_index=True, sort=False)
    except Exception as e:
        df_log = pd.read_json(file, lines=True)
print(df_log.info())



for col in df_log.select_dtypes(include='object').columns:
    df_log[col] = df_log[col].str.replace("'", "''")
df_log.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24168 entries, 0 to 24167
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artist         20460 non-null  object
 1   auth           24168 non-null  object
 2   firstName      23310 non-null  object
 3   gender         23310 non-null  object
 4   itemInSession  24168 non-null  int64
 5   lastName       23310 non-null  object
 6   length         20460 non-null  float64
 7   level          24168 non-null  object
 8   location       23310 non-null  object
 9   method         24168 non-null  object
 10  page           24168 non-null  object
 11  registration   23310 non-null  float64
 12  sessionId      24168 non-null  int64
 13  song           20460 non-null  object
 14  status         24168 non-null  int64
 15  ts             24168 non-null  int64
 16  userAgent      23310 non-null  object
 17  userId         23604 non-null  object
dtypes: float64(2), int64(4), object(12)
memory usage: 3.3+ MB
None

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1.540919e+12,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",NaN
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1.540345e+12,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN
2,Des''''''''ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN
3,None,Logged In,Kaylee,F,2,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1.540345e+12,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [54]:
df = df_log[df_log.page == 'NextSong']
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
2,Des''''''''ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN
5,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Quem Quiser Encontrar O Amor,200,1541106496796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN
6,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Eriatarka,200,1541106673796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN
7,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Becoming Insane,200,1541107053796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN

In [55]:
t = df.copy()
t['ts'] = pd.to_timedelta(t['ts'], unit='ms')

# Set a base datetime (e.g., 1970-01-01)
base_datetime = pd.Timestamp('1970-01-01')

# Add the timedelta to the base datetime
t['ts'] = base_datetime + t['ts']

t.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
2,Des''''''''ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,You Gotta Be,200,2018-11-01 21:01:46.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Flat 55,200,2018-11-01 21:05:52.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN
5,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Quem Quiser Encontrar O Amor,200,2018-11-01 21:08:16.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN
6,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Eriatarka,200,2018-11-01 21:11:13.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN
7,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Becoming Insane,200,2018-11-01 21:17:33.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN

In [57]:
# timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data`
# Convert ts column to datetime format (optional but recommended)
t['ts'] = pd.to_datetime(t['ts'])

# Extract desired datetime properties using dt accessor
t['time_data'] = t['ts'].dt  # Full timestamp
t['time_data'] = t['ts'].dt.hour.tolist()  # Hour
t['time_data'] = t['ts'].dt.day.tolist()  # Day
t['time_data'] = t['ts'].dt.isocalendar().week.tolist()  # Week of year (ISO calendar)
t['time_data'] = t['ts'].dt.month.tolist()  # Month
t['time_data'] = t['ts'].dt.year.tolist()  # Year
t['time_data'] = t['ts'].dt.weekday.tolist()  # Weekday (0-Monday, 6-Sunday)

# You can choose to keep only the desired list in the DataFrame
# del t['ts']  # Remove original ts column (optional)

t.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId,time_data
2,Des''''''''ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,You Gotta Be,200,2018-11-01 21:01:46.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN,3
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Flat 55,200,2018-11-01 21:05:52.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN,3
5,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Quem Quiser Encontrar O Amor,200,2018-11-01 21:08:16.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN,3
6,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Eriatarka,200,2018-11-01 21:11:13.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN,3
7,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Becoming Insane,200,2018-11-01 21:17:33.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",NaN,3

In [ ]:
time_data = ()
column_labels = ()

In [ ]:
time_df = 
time_df.head()

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [ ]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [ ]:
user_df =

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [ ]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [ ]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    songplay_data = ()
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [22]:
cur.close()
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.