In [1]:
%load_ext sql

In [2]:
%sql postgresql://hmmk99:e45u1bUqazGrsuEGMa6NesSIXKNLputv@dpg-csbqo023esus73fvq8b0-a.oregon-postgres.render.com/sparkifydb

In [ ]:
%sql SELECT * FROM songplays LIMIT 5;

In [ ]:
%sql SELECT * FROM users LIMIT 5;

In [4]:
%sql SELECT * FROM song LIMIT 5;

 * postgresql://hmmk99:***@dpg-csbqo023esus73fvq8b0-a.oregon-postgres.render.com/sparkifydb
5 rows affected.

[('SOMZWCG12A8C13C480', "I Didn''t Mean To", 'ARD7TVE1187B99BFB1', 0, Decimal('218.93179')),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, Decimal('148.03546')),
 ('SOXVLOJ12AB0189215', 'Amor De Cabaret', 'ARKRRTF1187B9984DA', 0, Decimal('177.47546')),
 ('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, Decimal('233.40363')),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, Decimal('209.60608'))]

In [6]:
%sql SELECT count(*) FROM artist LIMIT 5;

 * postgresql://hmmk99:***@dpg-csbqo023esus73fvq8b0-a.oregon-postgres.render.com/sparkifydb
1 rows affected.

[(142,)]

In [ ]:
%sql SELECT * FROM time LIMIT 5;

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).